<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="videoclub_online">
    <script src="https://kit.fontawesome.com/c070e348d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/indexcienciaficcion.css">
    <title>Peliculas de ciencia ficcion</title>
</head>

<body>

    <h1 class="h1">PELICULAS DE CIENCIA FICCION</h1>

    <div class="logo">
        <img src="/img/logo.png" alt="logo">
    </div>

    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/movies/drama">Drama</a></li>
                <li><a href="/movies/cienciaFiccion">Ciencia Ficcion</a></li>
                <li><a href="/movies/aventuras">Aventuras</a></li>
                <li><a href="/contacto">Contacto</a></li>
                <li><a href="/movies">Catalogo de peliculas</a></li>
                <li><a href="/movies/add">Agregar Una Película</a></li>
            </ul>
        </nav>
    </header>


    <div class="container_peliculas">
        <% movies.map(function(movie) { %>
            <div class="peliculas">
                <a href="/movies/detail/<%= movie.id %>">
                    <img src="<%= movie.image %>" alt="<%= movie.title %>">
                </a>
                <h3><%= movie.title %></h3>
                <p><%= movie.info %></p>
                <div class="buttons">
                    <button onclick="alquilar()">ALQUILAR</button><br>
                    <button onclick="comprar()">COMPRAR</button><br>
                    <a href="https://www.youtube.com/watch?v=M8CPW0EBqX8" target="_blank">
                        <button type="submit">VER TRAILER</button><br>
                    </a>
                </div>
            </div>
        <% }) %>
    </div>
    

            <footer>
                <p>derechos reservados &copy;</p>
                <p>Como llegar</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105064.48114864466!2d-58.56577012217135!3d-34.62274207894573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc966bf151d67%3A0x255fef772508e89c!2sUTN.BA!5e0!3m2!1ses!2sar!4v1706024483563!5m2!1ses!2sar" width="400" height="100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
                <p>Siguenos en redes sociales</p>
                <div class="redesSociales">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/videoclub_online"target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=543435108426" target="_blank"><i class="fa fa-whatsapp"
                            aria-hidden="true"></i></a>
                </div>
    
            </footer>
</body>
</html>